.wrapper {
  padding-bottom: 0.125rem;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
  box-sizing: border-box;
  max-width: 20rem;
}

.wrapper:focus {
  outline: none;
}

.wrapper .innerWrapper {
  padding: 0.25rem 0.5rem;
  padding-top: calc(0.25rem + 0.125rem + var(--fredoka-baseline-fix));
  border: 0.125rem solid #c4bead;
  box-shadow: 0 0.125rem 0 #c4bead;
  cursor: pointer;
  
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  min-height: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.wrapper:hover .innerWrapper {
  margin-top: 0;
  box-shadow: 0 0rem 0 #c4bead;
  translate: 0 0.125rem;
}

.wrapper:active .innerWrapper{
  border-color: #c4bead;
}

.wrapper:focus .innerWrapper {
  border-color: #d9e80a;
  box-shadow: 0 0 0.5rem #e5f017;
  outline: none;
}

.primary .innerWrapper {
  background-color: #5e6f34;
  border-color: #38361a;
  box-shadow: 0 0.125rem 0 #38361a;
  color: #fff;
}

.primary:hover .innerWrapper {
  background-color: #474e2d;
}

.primary:active .innerWrapper,
.primary:focus .innerWrapper {
  border-color: #c5b808;
  box-shadow: 0 0 0.5rem #c5b808;
}

.secondary .innerWrapper {
  background-color: #eeefe9;
  color: #403b34;
}

.secondary:hover .innerWrapper {
  background-color: #d6d6c7;
}