.wrapper {
  padding-bottom: 0.125rem;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
  box-sizing: border-box;
  max-width: 20rem;
}

.wrapper.noTextWrap {
  overflow: hidden;
}

.wrapper:focus {
  outline: none;
}

.wrapper .innerWrapper {
  padding: 0.25rem 0.5rem;
  padding-top: calc(0.25rem + 0.125rem + var(--fredoka-baseline-fix));
  border: 0.125rem solid var(--borderColor);
  box-shadow: 0 0.125rem 0 var(--borderColor);
  cursor: pointer;
  
  border-radius: 0.5rem;
  min-height: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.wrapper.noTextWrap .innerWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper:hover .innerWrapper,
.wrapper:disabled .innerWrapper,
.wrapper.infoBubble .innerWrapper {
  margin-top: 0;
  box-shadow: 0 0rem 0 var(--borderColor);
  translate: 0 0.125rem;
}

.wrapper:active .innerWrapper{
  border-color: var(--borderColor);
}

.wrapper:focus .innerWrapper {
  border-color: var(--borderFocusColor);
  box-shadow: 0 0 0.5rem var(--boxShadowFocusColor);
  outline: none;
}

.wrapper.noTextWrap:focus .innerWrapper {
  /* Box-shadow gets clipped by overflow: hidden */
  box-shadow: none;
}

.primary .innerWrapper {
  background-color: var(--primaryBackgroundColor);
  border-color: var(--primaryBorderColor);
  box-shadow: 0 0.125rem 0 var(--primaryBorderColor);
  color: var(--primaryTextColor);
}

.primary:hover .innerWrapper {
  background-color: var(--primaryBackgroundColorHover);
}

.primary:active .innerWrapper,
.primary:focus .innerWrapper {
  border-color: var(--primaryBorderFocusColor);
  box-shadow: 0 0 0.5rem var(--primaryBoxShadowFocusColor);
}

.secondary .innerWrapper {
  background-color: var(--secondaryBackgroundColor);
  color: var(--secondaryTextColor);
}

.secondary:hover .innerWrapper {
  background-color: var(--secondaryBackgroundColorHover);
}

.wrapper.infoBubble .innerWrapper {
  border-radius: 2rem;
}

.infoBubble .innerWrapper {
  background-color: none;
  color: var(--secondaryTextColor);
}

.infoBubble:hover .innerWrapper {
  background-color: var(--secondaryBackgroundColorHover);
}

.wrapper:disabled .innerWrapper {
  background-color:  var(--primaryDisabledBackgroundColor);
  color: var(--primaryDisabledTextColor);
  cursor: not-allowed;
  border-color:  var(--primaryDisabledBorderColor);
}
