.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divider {
  border: none;
  border-top: 0.25rem dotted var(--borderColor)66;
  width: 100%;
  margin: 1rem 0;
}

.label {
  padding: 0 1rem;
  margin-top: -0.125rem;
  color: var(--borderColor);
  font-weight: 600;
  text-transform: uppercase;
}
