.wrapper {
  padding: 0.125rem;
  transition: all 0.2s ease-in-out;
  background: none;
  border: 0.125rem solid var(--borderColor)00;
  border-radius: 1rem;
  cursor: pointer;
  min-width: calc(2rem + 0.25rem);
}

.wrapper:hover {
  border: 0.125rem solid var(--borderColor)55;
}

.wrapper:focus {
  outline: none;
  border-color: var(--borderFocusColor);
  box-shadow: 0 0 0.5rem var(--boxShadowFocusColor);
}

.wrapper:active,
.wrapper.active {
  border-color: var(--borderColor);
  background-color: var(--secondaryBackgroundColor);
}

.barWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}