.wrapper {
  display: flex;
  flex-direction: column;
}

.item {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.item:nth-child(even) {
  background-color: var(--rowEvenBackgroundColor);
}

.key {
  font-weight: bold;
  color: var(--primaryBackgroundColorHover);
  padding-right: 0.5rem;
}

.value {
  color: var(--primaryBackgroundColor);
}