.trigger {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  user-select: none;
  border: none;
  background: none;
  cursor: pointer;
}

.positioner {
  outline: 0;
}

.popup {
  box-sizing: border-box;
  padding: 0.75rem 0.25rem;
  border-radius: 1rem;
  background-color: canvas;
  border: 0.125rem solid var(--borderColor);
  transition: all 0.2s ease-in-out;
  transform-origin: var(--transform-origin);
  outline: 0;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.item {
  outline: 0;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  display: flex;
  font-size: 0.85rem;
  line-height: 1rem;
  align-items: center;
  color: var(--secondaryTextColor);
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;

  svg {
    transition: all 0.2s ease-in-out;
  }

  &[data-highlighted] {
    background-color: var(--borderFocusColor);
    color: var(--primaryBackgroundColor);
    fill: var(--primaryBackgroundColor);
  }

  &[data-highlighted] svg {
    fill: var(--primaryBackgroundColor);
  }

  &:active {
    color: var(--secondaryTextColor);
  }

  &:active svg {
    fill: var(--secondaryTextColor);
  }
}

.textTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
