.backdrop {
  position: fixed;
  inset: 0;
  background-color: black;

  /* 
   * @NOTE: This is only half of it. The other half is in the popup's huge box-shadow.
   * This is to ensure that even if there are multiple popups, there is still a backdrop.
   * It's just that multiple popups don't dim the overall backdrop too much.
   */
  opacity: 0.25;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.formMax.popup {
  /* 20rem is normal form + 2 for the padding */
  min-width: calc(var(--formWidth) + 2rem);
}

.popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: var(--formWidth);
  max-width: calc(100vw - 4rem);
  padding: 1rem;
  border-radius: 1rem;
  background-color: canvas;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 calc(100vw + 100vh) rgba(0, 0, 0, 0.25);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.close {
  outline: none;
  border: none;
  background: none;
}
