.caption {
  font-size: 0.875rem;
  color:  var(--captionTextColor);
}

.overline {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--captionTextColor);
  margin-bottom: -1rem;
}