html {
  /* Set base font size for rem units */
  font-size: 20px;
  background-color:  var(--baseBackgroundColor);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--secondaryTextColor);
  line-height: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 700;
  line-height: 1;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure, figcaption, hr,
fieldset, legend, form, label, input, textarea, button,
details, summary, menu, canvas, progress, video, audio,
iframe, embed, object {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullets/numbers) on lists */
ol, ul {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture, svg, video, canvas {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove all animations, transitions and scroll-behavior on print and reduce motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* See: https://base-ui.com/react/overview/quick-start#:~:text=you%20actually%C2%A0use.-,Set%20up%20portals,-Base%C2%A0UI%20uses */
.root {
  isolation: isolate;
}

/* Unfortunately, Fredoka sits a bit low, so we have to adjust for it. */
:root {
  --fredoka-baseline-fix: 0.1em;
}