.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--baseBackgroundColor);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem;
}

.scrollWrapper {
  border-radius: 1rem;
  background-color: var(--innerBaseBackgroundColor);
  border-top: 1rem solid var(--innerBaseBackgroundColor);
  border-bottom: 1rem solid var(--innerBaseBackgroundColor);
  padding: 0 1rem;
  container-type: inline-size;
  box-sizing: border-box;
  /* Take up the remaining space */
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.content {
  background-color: var(--innerBaseBackgroundColor);
  padding: 1rem 0rem;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--formWidth), 100%), 1fr));
  grid-auto-rows: minmax(10rem, auto);
  gap: 1rem;
  max-width: 41rem;
}
