.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.scrollWrapper {
  background-color: blue;
  container-type: inline-size;
  box-sizing: border-box;
  /* Take up the remaining space */
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.content {
  background-color: white;
  padding: 2rem 1rem;
  width: 100cqw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
